.main-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  gap: 30px;
  width: 90%;
  /* padding: 8px 22px; */
}

.main-div > div {
  border-radius: 12px;
  padding: 22px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container > img {
  width: 100%;
  /* border-radius: 12px; */
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 20px;
}

.cart-button {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 70px;
  margin-top: 20px;
}

@media all and (min-width: 400px) and (max-width: 800px) {
  .main-div {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    /* padding: 8px 22px; */
  }
}

@media all and (min-width: 80px) and (max-width: 399px) {
  .main-div {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}

/* //cart page css */

.list-div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 10px;
}

.list-div > select {
  height: max-content;
  width: 20%;
}

.list-div > img {
  /* height: 90%; */
  width: 80%;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.productContainer {
  display: flex;
  width: 90%;
  /* border: 2px solid blue; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  padding: 10px;
  margin: auto;
  border-radius: 12px;
  /* position: relative; */
}
.list-group {
  flex: 3;
}
.summary {
  /* border: 2px solid black; */
  margin: auto;
  flex: 1;
  height: 500px;
  background-color: rgb(109, 106, 106);
  color: white;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* position: absolute; */
}

.summary > button {
  color: rgb(67, 67, 156);
}

.title {
  padding-top: 20px;
}

@media all and (min-width: 400px) and (max-width: 800px) {
  .productContainer {
    flex-wrap: wrap;
    width: 100%;
    /* border: 2px solid blue; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;

    /* position: relative; */
    margin: auto;
  }
  .list-div {
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    width: 100%;
  }

  .list-div > img {
    margin: auto;
    height: 120px;
    width: 40%;
  }

  .list-div > select {
    margin: auto;
  }
}
